@font-face {
  font-family: "TitilliumWeb";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("~/assets/fonts/titillium_web/TitilliumWeb-Light.ttf")
    format("truetype");
}
@font-face {
  font-family: "TitilliumWeb";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("~/assets/fonts/titillium_web/TitilliumWeb-Regular.ttf")
    format("truetype");
}
@font-face {
  font-family: "TitilliumWeb";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("~/assets/fonts/titillium_web/TitilliumWeb-SemiBold.ttf")
    format("truetype");
}
@font-face {
  font-family: "TitilliumWeb";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("~/assets/fonts/titillium_web/TitilliumWeb-Bold.ttf")
    format("truetype");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.bot-text-color {
  @apply text-gray-500 dark:text-gray-400;
}

.bot-bg-color {
  @apply bg-gray-100 dark:bg-gray-900;
}

/* default background and text colors */
.bot-bg-and-text {
    @apply text-gray-500 dark:text-gray-400 bg-gray-100 dark:bg-gray-900
}

/* accents to the defaults - for use on cards, etc. */
.bot-bg-and-text-accent {
    @apply bg-white dark:bg-gray-800
}

.bot-page-max-w {
    @apply max-w-7xl mx-auto
}

.bot-border {
    @apply border-gray-200 dark:border-gray-700
}

.bot-divide {
    @apply divide-gray-200 dark:divide-gray-700
}

.bot-page-px {
  @apply px-4 sm:px-6 lg:px-8
}

.bot-page-px-list {
  @apply px-0 sm:px-6 lg:px-8
}

.bot-button {
  @apply inline-flex cursor-pointer items-center rounded-md border border-transparent bg-primary-400 text-primary-900 px-4 py-1 transition ease-in-out hover:bg-primary-300 focus:outline-none focus:ring-2 focus:ring-primary-400 focus:ring-offset-2;
}

.bot-alt-button {
  @apply inline-flex cursor-pointer items-center rounded-md border border-transparent bg-gray-700 text-gray-300 px-4 py-1 transition ease-in-out hover:bg-gray-600 focus:outline-none focus:ring-2 focus:ring-gray-400 focus:ring-offset-2;
}

.bot-danger-button {
  @apply inline-flex cursor-pointer items-center rounded-md border border-transparent bg-red-500 text-white px-4 py-1 transition ease-in-out hover:bg-red-600 focus:outline-none focus:ring-2 focus:ring-red-400 focus:ring-offset-2;
}

.bot-href-colors {
  @apply text-primary-500 hover:text-primary-400;
}

.bot-href-alt-colors {
  @apply text-secondary-500 hover:text-secondary-400;
}

.bot-href-border-bottom {
  @apply border-b border-dashed border-primary-500;
}

.bot-href {
    @apply cursor-pointer bot-href-colors bot-href-border-bottom;
}

.dev-db-table {
    @apply text-primary-500 font-mono mt-4
}

.dev-db-section {
    @apply text-secondary-500 font-mono
}

.dev-db-attr {
    @apply text-tertiary-500 font-mono
}

.bot-base-input {
    @apply block w-full mt-1 px-2 py-1 rounded-lg border border-gray-300 dark:border-gray-600 dark:bg-gray-700 dark:text-white focus:outline-none focus:ring-primary-500 focus:border-primary-500 dark:focus:border-primary-500 disabled:text-gray-400 disabled:dark:bg-gray-600 disabled:bg-gray-100 disabled:bg-gray-100 transition
}

.bot-input {
  @apply bot-base-input px-2
}

.bot-input-label {
    @apply text-sm uppercase font-medium leading-5
}

.bot-lead-icon {
    @apply pl-9
}

/* dropdown transition */
.bot-transition-dropdown-enter-active {
    @apply transition ease-out duration-200
}

.bot-transition-dropdown-leave-active {
    @apply transition ease-in duration-75
}

.bot-transition-dropdown-enter-from {
    @apply transform opacity-0 scale-95
}

.bot-transition-dropdown-leave-from {
    @apply transform opacity-100 scale-100
}

.bot-transition-dropdown-enter-to {
    @apply transform opacity-100 scale-100
}

.bot-transition-dropdown-leave-to {
    @apply transform opacity-100 scale-100
}

/* seach modal transition */
.bot-transition-seach-modal-enter-active {
    @apply transition ease-out
}

.bot-transition-seach-modal-leave-active {
    @apply transition ease-in
}

.bot-transition-seach-modal-enter-from {
    @apply transform opacity-0 scale-95
}

.bot-transition-seach-modal-leave-from {
    @apply transform opacity-80 scale-100
}

.bot-transition-seach-modal-enter-to {
    @apply transform opacity-80 scale-100
}

.bot-transition-seach-modal-leave-to {
    @apply transform opacity-0 scale-95
}

.bot-row-hover {
  @apply hover:bg-gray-50 dark:hover:bg-gray-700
}